<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.firebirdsql.jdbc.FBDriver"/>
        <property name="url" value="jdbc:firebirdsql:10.38.63.130/3052:ncore-fssp?lc_ctype=WIN1251"/>
        <property name="username" value="sysdba"/>
        <property name="password" value="masterkey"/>
    </bean>

    <bean id="testDao.dataSource" class="fssp38.sberbank.dao.TestDaoImp">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dsAngarsk" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.firebirdsql.jdbc.FBDriver"/>
        <property name="url" value="jdbc:firebirdsql:10.38.34.34/3052:ncore-fssp?lc_ctype=WIN1251"/>
        <property name="username" value="sysdba"/>
        <property name="password" value="masterkey"/>
    </bean>

    <bean id="testDao.dsAngarsk" class="fssp38.sberbank.dao.TestDaoImp">
        <property name="dataSource" ref="dsAngarsk"/>
    </bean>
	
</beans>
